@use "global" as *;

.blog {
  position: relative;
  padding: rem(79) 0 0;

  @include mq("md") {
    padding: rem(100) 0 0;
  }
}

.blog__title > h2 {

  @include mq("md") {
    color: $white;
  }
}

.blog__title > p {

  @include mq("md") {
    color: $white;
  }
}

.blog__title > p >span {

  @include mq("md") {
    color: $white;
  }
}

.blog__cards {
  margin-top: rem(32);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(39);

  @include mq("md") {
    margin-top: rem(83);
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }
}

.blog__button-wrapper {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(79);
  }
}

.blog__background {
  position: absolute;
  top: 0;
  left: 0;

  @include mq("md") {
    display: block;
    width: 100%;
    height: rem(500);
    background-image: url(../images/common/blog-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
}

.blog__fish {
  position: absolute;

  @include mq("md") {
    top: 3.1%;
    left:  calc(50% - min(43%, 40rem));
    display: block;
    width: rem(437);
    height: rem(201);
    background-image: url(../images/common/blog-fish-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}