@use "global" as *;

.button {
  position: relative;
  display: inline-block;
  padding: rem(15) rem(87) rem(15) rem(39);
  width: rem(202);
  color: $white;
  border: rem(1) solid $green;
  background-color: $green;
  font-family: $english-family;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.57;
  text-align: center;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: 10;

  @include mq("md") {
    width: rem(202);
  }
}

.button.slide {
  color: $white;
  background-color: $green;
  overflow: hidden;
  position: relative;
}
