@use "global" as *;

.campaign {
  padding: rem(40) 0;
}

.campaign__inner {
  max-width: rem(768);
  padding-left: rem(15);
  padding-right: rem(15);

  @include mq("md") {
    max-width: rem(1130);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.campaign__slider {
  margin-top: rem(24);
}
