@use "global" as *;

.campaign {
  padding: rem(40) 0;

  @include mq("md") {
    padding: rem(120) 0 rem(70);

  }
}

.campaign__slider {
  margin-top: rem(24);
  height: rem(370);

  @include mq("md") {
    height: rem(450);
  }
}

.campaign__flex {
  display: flex;
  gap: rem(24);
  @include mq("md") {
    gap: rem(40);
  }
}