@use "global" as *;

.card1 {
  display: block;
  max-width: rem(280);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0 ,0 ,0 , 0.25);
}

.card1__img {
  max-width: rem(280);

  @include mq("md") {
    max-width: rem(333);
  }
}

.card1__img img {
  width: 100%;
}

.card1__body {
  background-color: $white;
  padding: rem(16) rem(16) rem(24) rem(16);
}

.card1__box {
  color: $green;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.833;
  padding: rem(4) rem(12);
  border: rem(1) solid $green;
}

.card1__border {
  padding: 0;
  margin: 0;
  height: 0;
  border: 0;
  width: rem(248);
  border-top: 1px solid $green;
}