@use "global" as *;

.card2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  background-color: $white;
  height: 100%;
  transition: 0.3s opacity;
  padding: rem(16) rem(16) rem(24) rem(16);
}

.card2:hover {
  opacity: 0.7;
}

.card2__img {
  margin-left: auto;
  margin-right: auto;
  width: 96.1%;

  @include mq("md") {
    width: 100%;
  }
}

.card2__img img {
  width: 100%;
  aspect-ratio: 301 / 201;
  object-fit: cover;
}

.card2__time {
  display: block;
  margin-top: rem(25);
  font-family: $english-family;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;
  color: $green2;
}

.card2__title {
  color: $green2;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.5;
}

.card2__border {
  padding: 0;
  margin: rem(4) 0 0 0;
  height: 0;
  border: 0;
  width: 100%;
  border-top: 1px solid $green;
}

.card2__text {
  color: $green2;
  margin-top: rem(15);
  text-align: left;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;

  @include mq("md") {
    margin-top: rem(16);
    font-size: rem(16);
    line-height: 1.5;
  }
}