@use "global" as *;

.card3 {
  display: block;
  max-width: rem(345);
  padding: rem(15) rem(16) rem(24) rem(16);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  background-color: $white;

  @include mq("md") {
  padding: rem(15) rem(16) rem(24) rem(16);
  max-width: rem(520);
  }
}

.card3__img {
  max-width: rem(151);
  align-self: flex-end;
  flex-shrink: 0;

  @include mq("md") {
  max-width: rem(180);
  }
}

.card3__img img {
  width: 100%;
  aspect-ratio: 151 / 117;
}


div.card3__img {
  position: relative;
  width: 100%;
}

div.card3__img div.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $green;
}

div.card3__img img {
  display: block;
}

.card3__flex {
  display: flex;
  gap: rem(13);
  align-items: center;
}

.card3__top {
  @include mq("md") {
    max-width: rem(276);
  }
}

.card3__flex2 {
  display: flex;
  flex-direction: column;


  @include mq("md") {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card3__box {
  color: $green;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.833;
  padding: rem(4) rem(12);
  border: rem(1) solid $green;
  display: inline-flex;
  align-self: flex-start;

  @include mq("md") {
    padding: rem(6) rem(16);
  }
}

.card3__age {
  color: $green2;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;
}

.card3__title {
  margin-top: rem(4);
  color: $green2;
  font-size: rem(16);
  font-weight: 500;
}

.card3__border {
  padding: 0;
  margin: rem(4) 0 0 0;
  height: 0;
  border: 0;
  width: rem(149);
  border-top: 1px solid $green;

  @include mq("md") {
    width: rem(301);
  }
}

.card3__text {
  margin-top: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
}