@use "global" as *;

.contact {
  position: relative;
  padding: rem(80) 0 rem(100);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include mq("md") {
    filter: none;
    padding: rem(140) 0 rem(160);
  }
}

.contact__fish {
  position: absolute;
  top: rem(54);
  right: rem(15);
  display: block;
  width: rem(109);
  height: rem(50);
  background-image: url(../images/common/contact-fish-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @include mq("md") {
    top: rem(100);
    right: rem(50);
    display: block;
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/contact-fish-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.contact__items {
  display: block;

  @include mq("md") {
    display: flex;
    justify-content: space-between;
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    padding: rem(80) rem(112) rem(80) rem(50);
  }
}

.contact__item1 {
  text-align: center;

  @include mq("md") {
    text-align: left;
  }
}

.contact__logo {
  width: rem(174);
  height: rem(65);
  margin-left: auto;
  margin-right: auto;
}

.contact__border {
  padding: 0;
  margin: rem(6) auto 0 auto;
  height: 0;
  border: 0;
  width: 85.5%;
  border-top: 1px solid $green;

  @include mq("md") {
    width: 100%;
  }
}

.contact__flex {
  display: block;
  margin-top: rem(16);
  gap: 0;

  @include mq("md") {
    display: flex;
    margin-top: rem(24);
    gap: rem(21);
  }
}

.contact__textbox {
  font-size: rem(16);
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  line-height: 1.5;
}

.contact__text:not(:first-of-type) {
  margin-top: rem(4);
}

.contact__map {
  display: block;
  width: rem(295);
  height: rem(160);
  margin-top: rem(16);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    width: rem(273);
    height: rem(148);
    margin-top: 0;
  }
}

.contact__item2 {
  border: none;

  @include mq("md") {
    border-left: 1px solid $green;
    padding-left: rem(81);

  }
}

.contact__title {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: 0;
  }
}

.contact__button {
  margin-top: rem(40);
}

.contact__page-top-button {
  position: absolute;
  bottom: rem(20);
  right: rem(20);
  display: block;
  height: rem(80);
  width: rem(80);
}

.contact__page-top-button img {
  width: 100%;
}