@use "global" as *;

.contact {
  padding: rem(80) 0 rem(100);
}

.contact__items {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include mq("md") {
    filter: none;

  }
}

.contact__items {
  display: block;

  @include mq("md") {
    display: flex;
    justify-content: space-around;
  }
}

.contact__flex {
  display: block;

  @include mq("md") {
    display: flex;
    margin-top: rem(24);

  }
}

.contact-map {
  display: block;
  width: rem(295);
  height: rem(160);
  margin-top: rem(16);

  @include mq("md") {
    width: rem(273);
    height: rem(148);
    margin-top: rem(24);
  }
}

.contact__item2 {
  border: none;

  @include mq("md") {
    border-left: 1px solid $green;
    padding-left: rem(81);

  }
}

