@use "global" as *;

.contact {
  position: relative;
  margin-top: rem(80);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include mq("md") {
    filter: none;
    margin-top: rem(140);
  }
}

.contact__fish {
  position: absolute;
  top: -4.2%;
  right: calc(50% - min(45.8%, 50rem));
  display: block;
  width: 38.5%;
  height: 8%;
  background-image: url(../images/common/contact-fish-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @include mq("md") {
    top: -10%;
    right: calc(50% - min(47%, 43rem));
    display: block;
    width: 22%;
    height: 35%;
    background-image: url(../images/common/contact-fish-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.contact__items {
  display: block;

  @include mq("md") {
    display: flex;
    max-width: rem(1080);
    margin-left: auto;
    margin-right: auto;
    column-gap: rem(82);
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    padding: rem(80) rem(25) rem(80) rem(50);
  }
}

.contact__item1 {
  text-align: center;

  @include mq("md") {
    text-align: left;
  }
}

.contact__logo {
  width: rem(174);
  height: rem(65);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    width: rem(200);
    height: rem(75);
  }
}

.contact__border {
  padding: 0;
  margin: rem(6) auto 0 auto;
  height: 0;
  border: 0;
  width: 85.5%;
  border-top: 1px solid $green;

  @include mq("md") {
    width: 100%;
    margin: rem(8) auto 0 auto;

  }
}

.contact__flex {
  display: block;
  margin-top: rem(16);
  gap: 0;

  @include mq("md") {
    display: flex;
    margin-top: rem(24);
    gap: rem(21);
  }
}

.contact__textbox {
  font-size: rem(16);
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  line-height: 1.5;
}

.contact__text:not(:first-of-type) {
  margin-top: rem(4);
}

.contact__map {
  display: block;
  width: rem(295);
  height: rem(160);
  margin-top: rem(16);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    width: rem(273);
    height: rem(148);
    margin-top: 0;
  }
}

.contact__item2 {
  border: none;
  padding-top: 0;

  @include mq("md") {
    border-left: 1px solid $green;
    padding-left: rem(81);
    padding-top: rem(20);
  }
}

.contact__title {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: 0;
  }
}

.contact__button-wrapper {
  margin-top: rem(41);
}

