@use "global" as *;

.footer {
  background-color: $green;
  padding: rem(48) 0 rem(51) 0;

  @include mq("md") {
    padding: rem(80) 0;

  }
}

.footer__top-flex {
  display: block;

  @include mq("md") {
    display: flex;
    align-items: center;
    column-gap: rem(40);
  }
}

.footer__logo {
  width: rem(102);

  @include mq("md") {
    width: rem(200);
  }
}

.footer__icon-flex {
  margin-top: rem(16);
  display: flex;
  column-gap: rem(16);


  @include mq("md") {
    margin-top: 0;
  }
}

.footer__facebook-icon,
.footer__instagram-icon {
  display: block;
  width: rem(24);
  height: rem(24);

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.footer__facebook-icon img,
.footer__instagram-icon img {
  width: 100%;
}

.footer__flex1 {
  display: flex;
  justify-content: space-between;
  column-gap: rem(8);
  margin-top: rem(40);

  @include mq("md") {
    column-gap: rem(158);
    margin-top: rem(24);
  }
}

.footer__flex2 {
  display: flex;
  flex-direction: column;
  row-gap: rem(40);

  @include mq("md") {
    flex-direction: row;
    justify-content: space-between;
    column-gap: rem(158);
  }
}

.footer__items {
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  color: $white;
  font-weight: $normal;
  flex-wrap: wrap;
  width: rem(150);
  flex-shrink: 0;

  @include mq("md") {
    margin-top: 0;
  }
}

.footer__item {
  display: flex;
  flex-direction: column;
  width: rem(150);

  @include mq("md") {
    width: rem(185);
  }
}

.footer__subtitle {
  margin-top: rem(24);
  padding-left: rem(22);
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  flex-shrink: 0;
}

.footer__copyright-wrapper {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}

.footer__copyright {
  padding: 0 rem(14);
  font-family: $english-family;
  font-size: rem(12);
  color: $white;
}