@use "global" as *;

.fv {
  width: 100%;
  height: 100vh;
  min-height: rem(400);
}

.fv__inner {
  position: relative;
  width: 100%;
  height: inherit;
  min-height: inherit;
}

.fv__slider {
  height: inherit;
  min-height: inherit;
}

.fv__slides {
  height: inherit;
  min-height: inherit;
}

.fv__slide {
  height: inherit;
  min-height: inherit;
}

.fv__title-wrap {
  position: absolute;
  z-index: 10;
  width: rem(248);
  font-family: $english-family;
  color: $white;
  text-align: center;
  top: 41.5%;
  left: 50%;
  transform: translate(-50%, 41.5%);

  @include mq("md") {
    width: rem(496);
    top: 37%;
    left: 50%;
    transform: translate(-50%, 37%);
  }
}

.fv__title {
  font-size: rem(40);
  font-weight: $normal;
  letter-spacing: 0.52em;
  line-height: 1;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1.23;
  }
}

.fv__sub-title {
  font-size: rem(20);
  line-height: 1;
  margin-top: rem(4);

  @include mq("md") {
    margin-top: 0;
  }
}