@use "global" as *;

.loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $white;
}

.loading__title-wrap {
  position: absolute;
  z-index: 10;
  width: rem(248);
  font-family: $english-family;
  text-align: center;
  top: 44%;
  left: 50%;
  transform: translate(-50%, 44%);

  @include mq("md") {
    width: rem(496);
    top: 41%;
    left: 50%;
    transform: translate(-50%, 41%);
  }
}

.loading__title {
  font-size: rem(40);
  font-weight: $normal;
  letter-spacing: 0.54em;
  color: $green;
  line-height: 1;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1.25;
  }
}

.loading__subtitle {
  font-size: rem(20);
  line-height: 1;
  color: $green;
}

.loading__loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.loading__container {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loading__turtle-image {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 50%;
  background-image: url('../images/common/fv-sp-img1.jpg');
  background-size: cover;
  transition: bottom 1.5s ease;

  @include mq("md") {
  background-image: url('../images/common/fv-pc-img1.jpg');
  }
}

.loading__turtle-image-left {

  @include mq("md") {
    left: 0;
    background-position: left;
    animation: slide-up-left 1.5s forwards;
  }
}

.loading__turtle-image-right {

  @include mq("md") {
    right: 0;
    background-position: right;
    animation: slide-up-right 1.5s forwards;
    animation-delay: 0.8s;
  }
}

@keyframes slide-up-left {
  to {
      bottom: 0;
  }
}

@keyframes slide-up-right {
  to {
      bottom: 0;
  }
}

.loading__turtle-image-top {
  top: 0;
  background-position: top;
  animation: slide-up-top 1.5s forwards;
}

.loading__turtle-image-bottom {
  bottom: 0;
  background-position: bottom;
  animation: slide-up-bottom 1.5s forwards;
}

@keyframes slide-up-top {
  to {
      bottom: 50%;
  }
}

@keyframes slide-up-bottom {
  to {
      top: 50%;
  }
}

  .loading__turtle-image-top, .loading__turtle-image-bottom {
      height: 100%;
      width: 100%;
      background-position: center;
  }

  .loading__turtle-image-top {
      animation: slide-up 1.5s forwards;
  }

  .loading__turtle-image-bottom {
      animation: slide-up 1.5s forwards;
      animation-delay: 0.8s;
  }

  @keyframes slide-up {
      to {
          bottom: 0;
          top: 0;
      }
  }


.loading__content {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
}

.loading__turtle-full-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.loading__turtle-full-image.fade-out {
  opacity: 0;
}

.loading__overlay-text {
  position: absolute;
  width: rem(248);
  font-family: $english-family;
  text-align: center;
  top: 44%;
  left: 50%;
  color: $white;
  transform: translate(-50%, 44%);
  opacity: 0;
  transition: opacity 1s ease;

  @include mq("md") {
    width: rem(496);
    top: 41%;
    left: 50%;
    transform: translate(-50%, 41%);
  }
}
