@use "global" as *;

.nav-title {
  position: relative;
  font-weight: $bold;
  padding-left: rem(22);
  line-height: 1.125;
}

.nav-title__second {
  text-indent: -1.5em;
  padding-left: 1.5em;
}

.nav-title::before {
  position: absolute;
  content: '';
  background-image: url(../images/common/starfish-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  width: rem(18);
  height: rem(18);
}