@use "global" as *;

main {
  position: relative;
}

.page-top-button__wrapper {
  position: fixed;
  z-index: 10;
  height: rem(51);
  width: rem(51);
  top: 80%;
  right: calc(50% - min(50.5%, 50rem));

  @include mq("md") {
    right: calc(50% - min(40%, 40rem));
  }
}

.page-top-button {
  display: block;
  height: rem(51);
  width: rem(51);
  bottom: rem(12);
  right: rem(13);

  @include mq("md") {
    bottom: rem(14);
    right: rem(17);
    height: rem(86);
    width: rem(86);
  }
}

.page-top-button img {
  width: 100%;
}

