@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  @include mq("md") {
    height: inherit;
    display: flex;
    align-items: center;
  }
}

.pc-nav__item {
  @include mq("md") {
    height: inherit;
  }
}

.pc-nav__item a {
  height: inherit;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 rem(20);

}

.pc-nav__english {
  font-family: $english-family;
  font-size: rem(18);
  font-weight: $normal;
  line-height: 1;
  text-align: center;
}

.pc-nav__japanese {
  margin-top: rem(4);
  font-weight: $normal;
  font-size: rem(10);
  line-height: 1.5;
  text-align: center;
}