@use "global" as *;

.price {
  position: relative;
  margin-top: rem(82);
  padding: rem(80) 0 rem(79);
  background-color: $green3;

  @include mq("md") {
    margin-top: rem(142);
    padding: rem(101) 0 rem(103);
  }
}

.price__sp-img {
  width: 100%;
  margin-top: rem(32);
}

.price__sp-img img {
  width: 100%;
  aspect-ratio: 345 / 227;
  object-fit: cover;
}

.price__flex {
  margin-top: rem(40);
  display: block;

  @include mq("md") {
    margin-top: rem(43);
    display: flex;
    gap: rem(93);
    justify-content: center;
  }
}

.price__tables {
  width: 100%;

  @include mq("md") {
    width: rem(492);
  }
}

.price__table:not(:first-child) {
  margin-top: rem(35);
}


.price__pc-img {
  @include mq("md") {
    width: rem(492);
  }
}

.price__pc-img img {
  width: 100%;
  aspect-ratio: 492 / 746;
  object-fit: cover;
}

div.price__pc-img {
  position: relative;
  width: 100%;

  @include mq("md") {
    width: rem(492);
  }
}

div.price__pc-img div.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $green;
}

div.price__pc-img img {
  display: block;
  width: 100%;
}

.price__button-wrapper {
  margin-top: rem(37);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.price__fish {
  position: absolute;

  @include mq("md") {
    bottom: 5%;
    left:  calc(50% - min(43%, 40rem));
    display: block;
    width: 30.5%;
    height: 17%;
    background-image: url(../images/common/price-fish-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}