@use "global" as *;

.sp-nav {
  display: none;
}

.sp-nav.is-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $green;
  z-index: 8000;
}

.sp-nav__flex {
  display: flex;
}

.sp-nav__items {
  margin-top: rem(104);
  margin-left: rem(15);
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  color: $white;
  font-weight: $normal;
  flex-wrap: wrap;
}

.sp-nav__item {
  display: flex;
  flex-direction: column;
}

.sp-nav__item :nth-of-type(2) {
  order: 3;
}

.sp-nav__subtitle {
  margin-top: rem(24);
  padding-left: rem(22);
}