@use "global" as *;

.sp-nav {
  display: none;
}

.sp-nav.is-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $green;
  z-index: 8000;
}

.sp-nav__items {
  margin-top: rem(104);
  margin-left: rem(15);
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  row-gap: rem(40);
  color: $white;
}