@use "global" as *;

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $green;
  z-index: 8000;
  padding: rem(21) 0 rem(111);
  overflow-y: scroll;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sp-nav__items {
  margin-top: rem(71);
  margin-left: rem(15);
  display: flex;
  flex-direction: column;
  row-gap: rem(4);
  color: $white;
  font-weight: $normal;
  flex-wrap: wrap;
  flex-shrink: 0;
}


.sp-nav__item {
  display: flex;
  flex-direction: column;
}

.sp-nav__title {
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-right: rem(12);
}

.sp-nav__subtitle {
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
  padding-right: rem(12);
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
}