@use "global" as *;

.fv__slide.swiper-slide picture,
.fv__slide.swiper-slide img {
  height: 100vh;
}

.fv__slide.swiper-slide img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.campaign__card.swiper-slide img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cp-swiper-button-prev {
  position: absolute;
  top: -10%;
  left: 77%;
  width: rem(80);
  height: rem(80);
  background-image: url(../images/common/cp-button-prev.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.cp-swiper-button-next {
  position: absolute;
  top: -10%;
  left: 90%;
  width: rem(80);
  height: rem(80);
  background-image: url(../images/common/cp-button-next.png);
  background-repeat: no-repeat;
  background-size: contain;
}
