@use "global" as *;

.fv__slide.swiper-slide picture,
.fv__slide.swiper-slide img {
  height: 100vh;
}

.fv__slide.swiper-slide img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.campaign__card.swiper-slide img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
