@use "global" as *;

.table1__title {
  color: $green2;
  font-size: rem(16);
  font-style: normal;
  font-weight: $bold;
  line-height: 1.5;
}

.table1__border {
  padding: 0;
  margin: rem(4) 0 0 0;
  height: 0;
  border: 0;
  width: 100%;
  border-top: 1px solid $green;
  display: block;
}

.table1__table {
  width: 100%;
  margin-top: rem(4);
}

.table1__line {
  margin-top: rem(8);
}

.table1__line > td {
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.71429;
  color: $green2;

  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.table1__line > td:not(:first-of-type) {
  text-align: right;
}

