@use "global" as *;

.voice {
  position: relative;
  padding: rem(82) 0 rem(83);

  @include mq("md") {
  padding: rem(145) 0 rem(140);
  }
}

.voice__cards {
  margin-top: rem(48);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
  margin-top: rem(33);
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }
}

.voice__button {
  margin-top: rem(41);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.voice__fish {
  position: absolute;

  @include mq("md") {
    top: rem(23);
    left: rem(100);
    display: block;
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/voice-fish-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.voice__seahorse {
  position: absolute;

  @include mq("md") {
    bottom: rem(73);
    right: rem(180);
    display: block;
    width: rem(71);
    height: rem(162);
    flex-shrink: 0;
    background-image: url(../images/common/voice-seahorse-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}